@import "@/styles/utils/mixins";

.label {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &.iconLeft {
    svg {
      left: 12px;
    }
  }

  &.iconRight {
    svg {
      right: 12px;
    }
  }
}

.input {
  $transitionTime: 0.1s;
  user-select: none;
  cursor: text;
  padding-block: 15px;

  transition: $transitionTime;

  &.iconRight {
    padding-inline: 45px;
  }

  &.iconLeft {
    padding-inline: 45px;
  }

  background: var(--color-white_contrast);
  border: 1px solid var(--color-white_contrast);
  border-radius: 15px;
  width: 100%;

  font: {
    weight: 500;
  }

  &::placeholder {
    color: var(--color-gray_light);
  }

  &:focus {
    background: var(--color-white_dark_60);
    border-color: var(--color-black_95);

    transition: $transitionTime;
  }
}
